[objectstore]
VERSION=2.0
AUTHURL=https://identity.stack.cloudvps.com/v2.0
USER=extern_dataservices
PASSWORD=**Use export OBJECTSTORE_PASSWORD=###########**
TENANT_NAME=extern_dataservices
TENANT_ID=356c76835e424b968ed6d654c51204f0
REGION_NAME=NL

[apptimize]
key=**ADD KEY**
secret=**ADD SECRET**

[dev]
host=localhost
port=5502
user=crow_openbareruimte
dbname=crow_openbareruimte
password=insecure

[docker]
host=database
port=5432
user=crow_openbareruimte
dbname=crow_openbareruimte
password=insecure